* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: monospace;
}

p {
    color: white;
    
}
.outer-container {
    padding: 10px;
}

.top-bar button {

}


